* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Type-scale:
11.3rem
8rem
5.65rem
4rem
2.8rem
2rem
1.4rem
1rem
0.7rem
0.5rem
0.354rem
*/

/* #262c2e;
#1e2325;
#FFF;
#EEE */

html {
  font-size: 62.5%;
  font-size: 1.4rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: grid;
  background-color: #262c2e;
  height: 100vh;
  color: #eee;
  overflow: scroll;
  overflow-x: hidden;
}

.logo-image {
  height: 7rem;
  position: absolute;
  right: 1rem;
  top: -1rem;
}

.square-container {
  display: flex;
  padding: 3rem;
  margin: 5rem;
  background-color: #1e2325;
  justify-content: center;
  align-self: center;
  border-radius: 0.2rem;
}

.grid {
  display: grid;
  background-color: #3c4143;
}

.grid-column-3 {
  font-size: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  row-gap: 2rem;
  column-gap: 2rem;
  box-shadow: 15px 20px 30px 0 rgba(0, 0, 0, 0.11);
  border-radius: 0.2rem;
  padding: 1.5rem;
}

.grid-square {
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #1e2325;
  color: #eee;
  margin: 1.5rem;
  height: 10rem;
  padding: 1rem;
  transition: all 0.2s;
  border-radius: 0.2rem;
}

.grid-square:hover {
  background-color: #2e3335;
}

.grid-square.playing {
  background-color: #44494b;
}
